POSTGRES_DB=deskmate
POSTGRES_USER=deskmate
POSTGRES_PASSWORD=change-me-locally
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:5432/${POSTGRES_DB}
PORT=8000
